@font-face {
    font-family: "WebSymbolsRegular";

    src: url('../css/fonts/websymbols-regular-webfont.eot');

    src: url('../css/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),

        url('../css/fonts/websymbols-regular-webfont.woff') format('woff'),

        url('../css/fonts/websymbols-regular-webfont.ttf') format('truetype'),

        url('../css/fonts/fonts/websymbols-regular-webfont.svg') format('svg');


    font-weight: normal;

    font-style: normal;

}

* {
    margin: 0px;

    padding: 0px;


}

body {background-color: #fff;}


.text_button {
    font-family: "WebSymbolsRegular";
    background-color: white;
    border:none;
    font-size: 20px;
    color: #2968de;
    margin-left: 9%}

.blue_text {

    font-size: 15px;
    font-family: "sans-serif";

    color: #2644b1;
    position: fixed;
    top: 33%;
    left: 1120px;
    width: 300px;

}

.gs_link {
    display: block;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 150px;
    padding-left: 5px;
    color: #777777;
    text-decoration: none;
    font-family: "raleway";
    font-size: 12px;
}



.gis_link {
    display: block;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 150px;
    padding-left: 5px;
    color: #777777;
    text-decoration: none;
    font-family: "raleway";
    font-size: 12px;
}


.gas_link {
    display: block;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 10px;
    color: #777777;
    text-decoration: none;
    font-family: "raleway";
    font-size: 12px;
}






.gis_link:hover {
    display: block;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 150px;
    padding-left: 5px;
    color: #272727;
    text-decoration: underline;
    font-family: "raleway";
    font-size: 12px;
}

.gas_link:hover {
    display: block;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 10px;
    color: #272727;
    text-decoration: underline;
    font-family: "raleway";
    font-size: 12px;
}



#icon {
    display: block;
    margin-left: 15px;

    margin-top: 10px;
    color: #c1c0c0;

    float: left;
    font-family: "WebSymbolsRegular";
    background: transparent;
    border: none;
    font-size: 15px;

}

.search {
    display: block;
    margin: auto;
    width: 30%;

    border: 1px solid rgb(228, 228, 228);
    height: 40px;
    border-radius: 35px;



}

.search:hover {
    box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
}



.search input[type="text"] {

    outline: none;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 39px;
    margin-left: 2%;
    font-size: 22px;
    color: rgb(70, 70, 70)
}

.search input[type="text"]:focus {

    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border: none;
    height: 39px;
    margin-left: 2%;
    font-size: 25px;
}

.search input[type="text"]:checked {

    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border: none;
    height: 39px;
    margin-left: 2%;
    font-size: 25px;
}

.search input[type="text"]:active {

    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border: none;
    height: 39px;
    margin-left: 2%;
    font-size: 25px;
}


.search input[type="text"]:scope {

    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border: none;
    height: 39px;
    margin-left: 2%;
    font-size: 25px;
}



#google_mic {
    position: absolute;
    right: 1;
    margin-left: 0.7%;
    cursor: pointer;
    margin-top: 0.1%;

    height: 30px;
    border-radius: 35px;
}

#google_lens {
    position: absolute;
    right: 2;
    margin-left: 2%;
    margin-top: 0.1%;
    cursor: pointer;



    height: 30px;
    border-radius: 35px;
}


#btnK_css {
    display: inline-block;
    margin-top: 1%;
    margin-left: 44%;

    border: none;
    padding: 0 20px;
    font-family: arial, sans-serif;
    border-radius: 4px;
    background-color: #F8F9FA;
    line-height: 30px;
    min-width: 50px;
    text-align: center;

    cursor: pointer;
    user-select: none;
}



#btnI_css {
    display: inline-block;
    margin-left: 5%;
    border: none;
    margin-left: 1%;
    padding: 0 20px;
    font-family: arial, sans-serif;
    border-radius: 4px;
    background: #F8F9FA;
    line-height: 30px;
    min-width: 50px;
    text-align: center;

    cursor: pointer;
    user-select: none;
}

#btnK_css:hover {
    display: inline-block;
    margin-top: 1%;
    margin-left: 44%;

    border: none;
    padding: 0 20px;
    font-family: arial, sans-serif;
    border-radius: 4px;
    background-color: #F8F9FA;
    line-height: 30px;
    min-width: 50px;
    text-align: center;
    box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
    border: solid 1px #c1c0c0;
    cursor: pointer;
    user-select: none;
}

#btnI_css:hover {
    display: inline-block;
    margin-left: 5%;
    border: none;
    margin-left: 1%;
    padding: 0 20px;
    font-family: arial, sans-serif;
    border-radius: 4px;
    background: #F8F9FA;
    line-height: 30px;
    min-width: 50px;
    text-align: center;
    box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
    border: solid 1px #c1c0c0;
    cursor: pointer;
    user-select: none;
}

#btnK_css:active {
    border: solid 1px rgb(58, 140, 233);
    user-select: none;
    box-sizing: border-box;
}

#btnK_css:focus-visible {
    border: solid 1px rgb(58, 140, 233);
    box-sizing: border-box;

}

#btnI_css:active {
    border: solid 1px rgb(58, 140, 233);
    user-select: none;
    box-sizing: border-box;
}

#btnI_css:focus-visible {
    border: solid 1px rgb(58, 140, 233);
    box-sizing: border-box;

}




.blue_color_main {

    color: #4285f4;
    font-family: "pt sans";
    font-size: 55px;
    font-weight: bold;
    margin-left: 10px;

}

.blue_color {

    color: #4285f4;
    font-family: "pt sans";
    font-size: 55px;
    font-weight: bold;
    margin-left: 10px;
}

.red_color {

    color: #ea4335;
    font-family: "pt sans";
    font-size: 55px;
    font-weight: bold;
    margin-left: 10px;
}

.yellow_color {

    color: #fbbc05;
    font-family: "pt sans";
    font-size: 55px;
    font-weight: bold;
    margin-left: 10px;

}

.green_color {

    color: #34a853;
    font-family: "pt sans";
    font-size: 55px;
    font-weight: bold;
    margin-left: 10px;

}


.logo_nekoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.br{

    margin-top: 150px;
}


.upper_right
{
   
   
    height: 100px;
    width: 100%;
}

@media only screen and (max-width: 1950px) {
    
.blue_text {

        font-size: 15px;
        font-family: "sans-serif";

        color: #ffffff;
        position: fixed;
        top: 32%;
        left: 1120px;
        width: 300px;

    }
    }

  



@media only screen and (max-width: 2137px) {
    .search input[type="text"] {

        outline: none;

        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search input[type="text"]:focus {


        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search {

        display: block;
        margin: auto;
        width: 50%;

        border: 1px solid rgb(228, 228, 228);
        height: 40px;
        border-radius: 35px;
    }


    #google_mic {
        position: absolute;
        right: 1;
        margin-left: 1%;
        cursor: pointer;
        margin-top: 0.1%;

        height: 30px;
        border-radius: 35px;
    }

    #google_lens {
        position: absolute;
        right: 2;
        margin-left: 2.7%;
        margin-top: 0.1%;
        cursor: pointer;



        height: 30px;
        border-radius: 35px;
    }
}

@media only screen and (max-width: 1550px) {
    .search input[type="text"] {

        outline: none;

        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search input[type="text"]:focus {


        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search {

        display: block;
        margin: auto;
        width: 70%;

        border: 1px solid rgb(228, 228, 228);
        height: 40px;
        border-radius: 35px;
    }


    #google_mic {
        position: absolute;
        right: 1;
        margin-left: 3%;
        cursor: pointer;
        margin-top: 0.1%;

        height: 30px;
        border-radius: 35px;
    }

    #google_lens {
        position: absolute;
        right: 2;
        margin-left: 5.7%;
        margin-top: 0.1%;
        cursor: pointer;



        height: 30px;
        border-radius: 35px;
    }

    #btnK_css {
        display: inline-block;
        margin-top: 1%;
        margin-left: 40%;

        background: #F8F9FA;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }

    #btnI_css {
        display: inline-block;
        margin-left: 1%;
        background: #F8F9FA;

        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }

    #btnK_css:hover {
        display: inline-block;
        margin-top: 1%;
        margin-left: 38%;

        border: none;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #F8F9FA;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;
    }

    #btnI_css:hover {
        display: inline-block;
        margin-left: 5%;
        border: none;
        margin-left: 1%;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background: #F8F9FA;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;
    }


}



@media only screen and (max-width: 1050px) {
    .search input[type="text"] {

        outline: none;

        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search input[type="text"]:focus {


        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search {

        display: block;
        margin: auto;
        width: 70%;

        border: 1px solid rgb(228, 228, 228);
        height: 40px;
        border-radius: 35px;
    }


    #google_mic {
        position: absolute;
        right: 1;
        margin-left: -1%;
        cursor: pointer;
        margin-top: 0.1%;

        height: 30px;
        border-radius: 35px;
    }

    #google_lens {
        position: absolute;
        right: 2;
        margin-left: 3%;
        margin-top: 0.1%;
        cursor: pointer;



        height: 30px;
        border-radius: 35px;
    }

    #btnK_css {
        display: inline-block;
        margin-top: 1%;
        margin-left: 35%;

        background: #F8F9FA;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }

    #btnI_css {
        display: inline-block;
        margin-left: 1%;
        background: #F8F9FA;

        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }


    #btnK_css:hover {
        display: inline-block;
        margin-top: 1%;
        margin-left: 35%;

        background: #F8F9FA;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;
    }

    #btnI_css:hover {
        display: inline-block;
        margin-left: 1%;
        background: #F8F9FA;

        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;
    }









}




@media only screen and (max-width: 750px) {
    .search input[type="text"] {

        outline: none;

        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search input[type="text"]:focus {


        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search {

        display: block;
        margin: auto;
        width: 90%;

        border: 1px solid rgb(228, 228, 228);
        height: 40px;
        border-radius: 35px;
    }


    #google_mic {
        position: absolute;
        right: 1;
        margin-left: -7.5%;
        cursor: pointer;
        margin-top: 0.1%;

        height: 30px;
        border-radius: 35px;
    }

    #google_lens {
        position: absolute;
        right: 2;
        margin-left: -1.5%;
        margin-top: 0.1%;
        cursor: pointer;



        height: 30px;
        border-radius: 35px;
    }

    #btnK_css {
        display: inline-block;
        margin-top: 2.5%;
        margin-left: 30%;


        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }

    #btnI_css {
        display: inline-block;
        margin-left: 5%;

        margin-left: 2%;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }



    #btnK_css:hover {
        display: inline-block;
        margin-top: 2.5%;
        margin-left: 30%;

        background: #F8F9FA;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;
    }

    #btnI_css:hover {
        display: inline-block;
        margin-left: 2%;
        background: #F8F9FA;

        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;



    }

}

@media only screen and (max-width: 500px) {
    .search input[type="text"] {

        outline: none;

        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search input[type="text"]:focus {


        align-items: center;
        height: 39px;
        border-radius: 35px;
        font-size: 15px;
    }

    .search {

        display: block;
        margin: auto;
        width: 90%;

        border: 1px solid rgb(228, 228, 228);
        height: 40px;
        border-radius: 35px;
    }


    #google_mic {
        position: absolute;
        right: 1;
        margin-left: -7.5%;
        cursor: pointer;
        margin-top: 0.1%;

        height: 30px;
        border-radius: 35px;
    }

    #google_lens {
        position: absolute;
        right: 2;
        margin-left: -1.5%;
        margin-top: 0.1%;
        cursor: pointer;



        height: 30px;
        border-radius: 35px;
    }

    #btnK_css {
        display: inline-block;
        margin-top: 2.5%;
        margin-left: 18%;


        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }

    #btnI_css {
        display: inline-block;


        margin-left: 2%;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;

        cursor: pointer;
        user-select: none;
    }

    #btnK_css:hover {
        display: inline-block;
        margin-top: 2.5%;
        margin-left: 18%;

        background: #F8F9FA;
        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;
    }

    #btnI_css:hover {
        display: inline-block;
        margin-left: 2%;
        background: #F8F9FA;

        padding: 0 20px;
        font-family: arial, sans-serif;
        border-radius: 4px;
        background-color: #f2f2f2;
        line-height: 30px;
        min-width: 50px;
        text-align: center;
        box-shadow: 1px 1px 5.5px 1px rgba(186, 186, 186, 0.493);
        border: solid 1px #c1c0c0;
        cursor: pointer;
        user-select: none;



    }

}